/* Write your code here. */
.background-container {
  padding-top: 20px;
  background-image: url(https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bootom-container {
  background-color: #cffafe;
  width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}
.para {
  display: flex;
  align-self: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .background-container {
    width: 350px;
  }
}
